@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    position: relative;
}

.bg-effect {
    background-color: #fa5b0f;
    position: absolute;
    height: 200%;
    width: 100%;
    transform: rotate(-15deg);
    left: -83%;
    top: -50%;
}

.my_img {
    background-image: url('/src/assets/fahim2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
    height: calc(100vh - 80px);
    top: 40px;
    background-position: top;
    border-radius: 30px;
    box-shadow: 0 0 7px rgb(0 0 0 / 90%);
}

.bg-dark {
    /* background-image: linear-gradient(#231a19, #231a19); */
    background-color: #1b1716;
}

.menuStyle {
    @apply bg-slate-200 w-10 h-10 p-2 opacity-80 rounded-2xl
}

.active {
    @apply bg-primary text-2xl opacity-90 rounded-full flex text-zinc-50 items-center px-2
}

.active .menuStyle {
    @apply bg-primary
}

.navStyle:hover {
    @apply bg-primary flex text-zinc-50 items-center opacity-90 px-2 transition-all ease-in-out rounded-full
}

.navStyle:hover .menuStyle {
    @apply bg-primary
}

.menu {
    display: none;
    font-size: 16px;
}

.active .menu {
    display: block;
}

.navStyle:hover .menu {
    display: block;
}

.actionBtn {
    @apply flex items-center text-zinc-100 gap-2 px-5 py-2 rounded-full bg-primary capitalize font-medium
}

.outLineBtn {
    @apply flex items-center gap-2 px-5 py-[6px] rounded-full border border-primary text-primary capitalize font-medium
}

.outLineBtn:hover {
    @apply bg-primary text-zinc-100 transition-all ease-in-out
}

.subTitle::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: #fa5b0f;
    top: 50%;
    right: -50px;
}

.subTitle::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: #fa5b0f;
    top: 50%;
    left: -50px;
}

.my-pic::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 4%;
    top: 4%;
    z-index: -1;
    border-radius: 5px;
    border: 6px solid #fa5b0f;
}

.general ul::before,
.programming ul::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    top: 3px;
    background-color: #fa5b0f;
    left: -25px;
}

.general ul li span::before,
.programming ul li span::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 2px solid #fa5b0f;
    border-radius: 50%;
    background-color: #fff;
    left: -32px;
}

.porject_image {
    background-position: top;
    transition: ease-in-out 5s;
    background-size: cover;
}

.project:hover .porject_image {
    background-position: bottom;
}

@media all and (max-width:640px) {

    .container {
        width: 90%;
        margin: auto;
    }

    .subTitle::after {
        width: 0px;
    }

    .subTitle::before {
        width: 0px;
    }
}